.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.container {
  margin: 0 auto;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 2rem;
}

.nav a {
  text-decoration: none;
  margin: 0 1rem;
  font-weight: 500;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.menu-icon {
  width: 28px;
  height: 28px;
  filter: invert(100%);
}

.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  background: none;
  border: none;
  cursor: pointer;
}

.dark-mode-toggle {
  position: relative;
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  align-items: center;
}

.dark-mode-toggle .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  transition: opacity 0.4s ease, transform 0.4s ease;
  opacity: 0;
  transform: rotate(-90deg) scale(0);
}

.dark-mode-toggle .icon.active {
  opacity: 1;
  transform: rotate(0deg) scale(1);
}


/* burgir */
@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem 0;
    display: none;
  }

  .nav.active {
    display: flex;
  }
}
